<!-- Page content -->
<div class="main">
  <p>&#60;html&#62;</p>
  <div class="indent">
    <p>&#60;body&#62;</p>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div>
    <span class="indent1">&#60;h1&#62; </span>
    <div class="heading">
      <span>Hej,<br> jag är <span style="color: #ccac4c;">M</span>arcus,
        <br> Full Stack-utvecklare.
      </span>
      <span class="blinking-cursor">|</span>
    </div>
    <span class="indent2"> &#60;h1&#62; </span>
  </div>

  <br>
  <br>
  <br>
  <br>
  <div class="skillset">
    <div class="skills3">
      <p>TypeScript</p>
    </div>
    <br>
    <br>
    <br>
    <div class="skills2">
      <p>Angular</p>
      <p>JavaScript</p>
    </div>
    <br>
    <br>
    <br>
    <div class="skills">
      <p>MongoDB</p>
      <p>Express</p>
    </div>
    <br>
    <br>
    <br>
    <div class="skills4">
      <p>Node.js</p>
    </div>
  </div>
  <div class="indent3">
    <p>&#60;/body&#62;</p>
  </div>
  <p>&#60;/html&#62;</p>
</div>