<!-- Page content -->
<div class="main">
  <p>&#60;html&#62;</p>
  <div class="indent">
    <p>&#60;body&#62;</p>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div>
    <span class="indent1">&#60;h1&#62; </span>
    <div class="heading">
      <span style="color: #ccac4c;">F</span>ärdigheter
      <span class="blinking-cursor">|</span>
    </div>
    <span class="indent2"> &#60;/h1&#62; </span>

    <br>
    <br>
    <br>
    <span class="indent4"> &#60;b&#62; </span>
    <div class="section">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer eleifend, ante vitae malesuada viverra,
        nisi lacus suscipit tellus, nec commodo tellus diam vel metus.</span>
    </div>
    <span class="indent2"> &#60;/b&#62; </span>
    <br>
    <br>

    <span class="indent4"> &#60;ul&#62; </span>
    <div class="paragraph">
      <br>
      <span class="indent2"> &#60;li&#62; </span>
      Angular2+
      <span class="indent2"> &#60;/li&#62; </span>
      <br>
      <span class="indent2"> &#60;li&#62; </span>
      TypeScript
      <span class="indent2"> &#60;/li&#62; </span>
      <br>
      <span class="indent2"> &#60;li&#62; </span>
      JavaScript
      <span class="indent2"> &#60;/li&#62; </span>
      <br>
      <span class="indent2"> &#60;li&#62; </span>
      MongoDB
      <span class="indent2"> &#60;/li&#62; </span>
      <br>
      <span class="indent2"> &#60;li&#62; </span>
      Express
      <span class="indent2"> &#60;/li&#62; </span>
      <br>
      <span class="indent2"> &#60;li&#62; </span>
      HTML5 & CSS3
      <span class="indent2"> &#60;/li&#62; </span>
      <br><span class="indent2"> &#60;li&#62; </span>
      Node.js
      <span class="indent2"> &#60;/li&#62; </span>
      <br>
    </div>
    <span class="indent2"> &#60;/ul&#62; </span>

  </div>
  <div class="indent3">
    <p>&#60;/body&#62;</p>
  </div>
  <p>&#60;/html&#62;</p>
</div>