<!-- Side navigation -->
<div class="sidenav">
  <div class="container">
    <a href="#" style="cursor:default"><img src="../assets/images/me.png" width="110px">
    </a>
  </div>
  <div class="container">
    <a routerLink=""><img src="../assets/images/home.png" width="60px">
      <div class="overlay">
        <div class="text">Hem</div>
      </div>
    </a>
  </div>
  <div class="container">
    <a routerLink="about"><img src="../assets/images/about.png" width="60px">
      <div class="overlay">
        <div class="text">Om mig</div>
      </div>
    </a>
  </div>
  <div class="container">
    <a routerLink="skills"><img src="../assets/images/skills.png" width="60px">
      <div class="overlay">
        <div class="text">Färdigheter</div>
      </div>
    </a>
  </div>
  <div class="container">
    <a routerLink="projects"><img src="../assets/images/projects.png" width="60px">
      <div class="overlay">
        <div class="text">Projekt</div>
      </div>
    </a>
  </div>
  <div class="container">
    <a routerLink="contact"><img src="../assets/images/contact.png" width="60px">
      <div class="overlay">
        <div class="text">Kontakt</div>
      </div>
    </a>
  </div>
  <div class="container">
    <a href="#"><img src="../assets/images/linkedin.png" width="60px">
      <div class="overlay">
        <div class="text">LinkedIn</div>
      </div>
    </a>
  </div>
</div>


<router-outlet></router-outlet>
